<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Professor-Home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<script src="http://localhost:8080/DeliverableSubmit.js"></script>

<body style="background: rgb(200,200,200);">
<form action="/logout" th:action="@{/logout}" th:object="${user}" method="post" >
    <input type="submit" value="Logout" style="float:right; right: 5;"/>
</form>
<div>
    <h1>Welcome Professor</h1>
    <p th:text=" '&nbsp;You are currently logged in as ' + ${user.username}"><br></p>
</div>
<div>
    <h1 style="text-align: justify;width: 1920;height: 1080;"><span style="text-decoration: underline;">______________________________Create Deliverable______________________________</span></h1>
</div>

<div>
        <h2 class="text-dark">&nbsp;Create a deliverable:&nbsp;</h2><br>
        <label for="courses">&nbsp;Choose your course:</label>
        <select name="courses" id="courses">
            <option th:each="assignedCourse : ${assignedCourses}" th:value="${assignedCourse}" th:text="${assignedCourse}">
            </option>
        </select>
        <br><br>
        <label for="deliverable-name">Enter deliverable name below: </label><br>
        <input type="text" id="deliverable-name" name="deliverable-name"><br>
        <br><br>
        <label for="deliverable-name">Enter deliverable weighting below: </label><br>
        <input type="number" id="weighting" name="weighting" min="0" max="100">
        <br><br>
        <label for="deliverable-name">Enter number of days until due date: </label><br>
        <input type="number" id="daysDue" name="Days until due" min="0" max="120">
        <br><br>
        <label for="deliverable-description">Enter deliverable description below: </label><br>
        <textarea id="deliverable-description" name="deliverable-description" rows="10" cols="50"></textarea>
        <br>
        <form action="dashboard" th:action="@{/dashboard}" method="get">
        <input type="Submit" onclick="submitDeliverable()" value="Submit" ></input>
        </form>
</div>

<br><br>

<div >
    <form action="/dashboard" th:action="@{/dashboard}"  method="get" >
        <input type="submit" value="Homepage" style="float:right; right: 5;"/>
    </form>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>