<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<title>Course Dashboard</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<div class ="container-fluid" style="padding-bottom:3%;">

    <div>
        <form action="/logout" th:action="@{/logout}" th:object="${user}" method="post" >
            <input type="submit" value="Logout" style="float:right; right: 5;"/>
        </form>
        <p th:text=" 'You are currently logged in as ' + ${user.username}">
        </p>
    </div>


    <nav class="navbar navbar-expanded-sm navbar-light" style="background-color: #e3f2fd;">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Dashboard</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Grades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">User Profile</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Current Semester
                </div>
                <ul class="list-group list-group-flush" th:each="course,iterstat : ${courses}">
                    <li class="list-group-item" ><a th:href="@{/{link}(link=${links[iterstat.index]})}" th:text="${course}"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>




</div>


</body>


</html>