<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Professor-Home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background: rgb(200,200,200);">
<form action="/logout" th:action="@{/logout}" th:object="${user}" method="post" >
    <input type="submit" value="Logout" style="float:right; right: 5;"/>
</form>
<div>
    <h1>Welcome Professor</h1>
    <p th:text=" 'You are currently logged in as ' + ${user.username}"><br></p>
</div>
<div>
    <h1 style="text-align: justify;width: 1920;height: 1080;"><span style="text-decoration: underline;">______________________________Delete Deliverable______________________________</span></h1>
</div>

<!--
TODO: Grab course (and deliverable?) name
-->

<div>
    <h2> Delete a Course Deliverable: </h2></div>
    <br>
<div>
    <form action="#">
<!--        TODO: Grab courses prof is teaching-->
        <label for="courses">Choose your course:</label>
        <select name="courses" id="courses">
            <option value="COMP3004">COMP3004</option>
            <option value="COMP2404">COMP2404</option>
        </select>
        <input type="submit" value="Submit Course">
        <br><br>
    </form>
    <form action="#">
        <!--TODO: Disable until course chosen and submitted, then grab course deliverables-->
        <label for="deliverables">Choose the deliverable:</label>
        <select name="deliverables" id="deliverables">
            <option value="Assignment1">Assignment 1</option>
            <option value="Assignment2">Assignment 2</option>
            <option value="Assignment3">Assignment 3</option>
        </select>
        <input type="submit" value="Submit Deliverable">
    </form>
</div>

<br><br>

<div>
    <form action="/dashboard" th:action="@{/dashboard}" th:object="${user}" method="post" >
        <input type="submit" class="btn btn-primary" value="Return to Home"/>
    </form>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>