<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Student-Home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>



<body style="background: rgb(200,200,200);">
    <form action="/logout" th:action="@{/logout}" th:object="${user}" method="post" >
        <input type="submit" class="btn btn-primary" value="Logout" style="float:right; right: 5;"/>
    </form>
    <div>
        <h1>Welcome Student&nbsp;</h1>
        <p th:text=" 'You are currently logged in as ' + ${user.username}"><br></p>
    </div>
    <div>
        <h1 style="text-align: justify;width: 1920;height: 1080;"><span style="text-decoration: underline;">______________________________Homepage______________________________</span></h1>
    </div>
    <div>
        <h4>&nbsp;Administrative Requests</h4>
        <ul>
            <li><!--GET: Available courses from CMS-->
<!--POST: A course in the respective student.courses attribute (if successful) -->
        <a th:href="@{/Cregister}">Register in a course</a></li>
            <li><!--GET: Student.enrolledCourses to display options-->
<!--DELETE: The respective course from student's attribute-->
            <a href="/dropCourse">Drop a Course (WDN)</a></li>
            <li><a href="/studentAudit">Generate Audit</a></li>
        </ul>
    </div>
    <div><!--GET: Student.enrolledCourses to courses as headers-->

<!-- 
For Course Info - GET: Course description and any other relevant and public information.

For Submit Deliverable - 
GET: The respective course's posted deliverables that were POSTed from the professors' actions. (Whatever the information of the deliverable is. Such as name, deadline, weighting, etc.)

POST: The deliverable submission whatever format it may be. (Whether we accept .txt or .pdfs etc... But submission option unavailable if the deliverable is beyond the deadline. )
-->
<h2> Courses</h2></div>
    <div th:each="course,iterstat : ${courses}">
        <div>
            <h5 class="text-dark" th:text="${course.courseCode + '  -  ' + course.courseName}"></h5>
            <ul>
                <li><a th:href="@{/courseInformation?CourseID={CID}(CID=${course.courseCode})}">Course Info</a></li>
                <li><a th:href="@{/submitDeliverables?CID={CID}(CID=${course.courseCode})}">Submit Deliverables</a></li>
            </ul>
        </div>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>