<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Professor-Home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background: rgb(200,200,200);">
    <form action="/logout" th:action="@{/logout}" th:object="${user}" method="post" >
        <input type="submit" value="Logout" style="float:right; right: 5;"/>
    </form>
    <div>
        <h1>Welcome Professor</h1>
        <p th:text=" 'You are currently logged in as ' + ${user.username}"><br></p>
    </div>
    <div>
        <h1 style="text-align: justify;width: 1920;height: 1080;"><span style="text-decoration: underline;">______________________________Homepage______________________________</span></h1>
    </div>
    <div>
        <h3>&nbsp;Update Course Information Description&nbsp;</h3>
        <ul>
            <li><a href="/courseDescriptionUpdate">Update Course Description</a></li>
        </ul>
    </div>
    <div>
        <h3>&nbsp;Deliverable Actions&nbsp;</h3>
        <ul>
            <li><!--After entering a creation page the following will occur-->
<!--POST: Deliverable and its attributes as an attribute to the respective course.-->

<a href="/createDeliverable">Create a Deliverable </a></li>
            <li><!--After entering a creation page the following will occur-->
<!--DELETE: Deliverable and its attributes as an attribute to the respective course.-->
<a href="/deleteDeliverable">Delete a Deliverable</a></li>
            <li><!--After entering a creation page the following will occur-->
<!--PUT: Deliverable and its attributes as an attribute to the respective course.-->
<a href="/modifyDeliverable">Modify a Deliverable </a></li>
        </ul>
    </div>
    <div>
        <h3>&nbsp;Individual Assessment Actions&nbsp;</h3>
        <ul>
            <li><!--After entering a creation page the following will occur-->
<!-- POST: Add a grade attribute to the posted deliverable that is attached to the respective student -->
<a href="/selectOneDel">Submit Individual Grade for a Deliverable </a></li>
            <li><!--After entering a creation page the following will occur-->
<!-- POST: Add a final grade attribute that is attached to the respective student -->
<a href="/selectOneCourse">Submit an Individual Final Grade </a></li>
        </ul>
    </div>
    <div>
        <h3>&nbsp;Collective Assessment Actions&nbsp;</h3>
        <ul>
            <li><!--After entering a creation page the following will occur-->
<!-- POST: Add a list of deliverable grades attribute that is attacthed to the repective students of a course -->
<a href="/selectDel">Submit a List of Deliverable Grades for a Course </a></li>
            <li><!--After entering a creation page the following will occur-->
<!-- POST: Add a list of final grades attribute that is attacthed to the repective students of a course -->
<a href="/selectCourse">Submit a List of Final Grades for a Course</a></li>
        </ul>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>